*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0d1b2a,#1b4332,#2d6a4f);

overflow:hidden;

color:white;

}

header{

text-align:center;

animation:fade 2s;

}

h1{

font-size:70px;

margin-bottom:20px;

text-shadow:0 0 20px gold;

}

p{

font-size:25px;

margin-bottom:40px;

}

button{

padding:20px 60px;

font-size:25px;

border:none;

border-radius:15px;

cursor:pointer;

background:gold;

transition:.3s;

}

button:hover{

transform:scale(1.1);

box-shadow:0 0 25px gold;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(-50px);

}

to{

opacity:1;
transform:translateY(0);

}

}
